body, html{
    height: 100%;
}
.header{
    height: 100%;
}
.topnav{
    height: 100px;
    width: 100%;
    background-color: beige;
}
.image1{
    background-image: url("img/bg1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}
div a{
    color:black;
}
div a:hover{
    text-decoration: none;
}
.title{
    text-shadow: 5px 5px 10px rgb(5, 69, 90);
}
.image2{
    background-image: url('img/montagne.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}